#root {
  width: 100vw;
}

#root {
}

.app {
  padding: 2rem;
  height: 100vh;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.date-created {
  color: whitesmoke;
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}

.tasks {
  width: 100%;
}
